In [1]:
import pandas as pd
import numpy as np
import os
import math
import random
from tqdm.notebook import tqdm
from operator import itemgetter
from functools import reduce
from statistics import mean
from statistics import stdev
from sklearn.preprocessing import StandardScaler

In [2]:
data_dir_desktop = 'C:/Research Activities/Datasets/BB-MAS_Dataset/Tablet_data/Tablet_nonconventional_100_latest/'

User = []
sample = []
error_rate_list = []


user_files_desktop = os.listdir(data_dir_desktop)

for i in tqdm(range(len(user_files_desktop))):
        user_file_desktop = user_files_desktop[i]
        curr_user_ind_desktop = int(user_file_desktop[user_file_desktop.find('_')+1:user_file_desktop.find('@')])
        curr_user_sample = int(user_file_desktop[user_file_desktop.rfind('_')+1:user_file_desktop.find('.')])
        data_frame_desktop = pd.read_csv(data_dir_desktop+user_file_desktop, header=0)
        data_frame_desktop.iloc[:,2] =  pd.to_datetime(data_frame_desktop.iloc[:,2])
        data_frame_desktop.iloc[:,3] =  pd.to_datetime(data_frame_desktop.iloc[:,3])
       
        del_count = sum(data_frame_desktop['Key']=='BACKSPACE')
        total_letters = len(data_frame_desktop)
        
        error_rate = (del_count/total_letters)*100
        
        User.append(curr_user_ind_desktop)
        sample.append(curr_user_sample)
        error_rate_list.append(error_rate)
        
        
final_df = pd.DataFrame(list(zip(User, sample, error_rate_list)),
               columns =['User','sample', 'Error_rate_%'])

  0%|          | 0/5113 [00:00<?, ?it/s]

In [3]:
final_df.mean()

User            59.400548
sample          23.222179
Error_rate_%     9.176413
dtype: float64

In [3]:
def get_word_count(processed_data):
    words_in_pipeline = []
    word_list = []
    
    delimiter_keys = ['SPACE', '.', ',', 'RETURN']

    for row_idx in range(len(processed_data)):
        curr_key = processed_data[row_idx][1]

        if(curr_key in delimiter_keys):
            if(len(words_in_pipeline)>0):
                key_word = ''
                for char in words_in_pipeline:
                    key_word=key_word+str(char)
                    
                word_list.append(key_word)
                
            words_in_pipeline = []
            continue
            
        if(curr_key=='BACKSPACE'):
            words_in_pipeline = words_in_pipeline[:-1]
            continue
        
        words_in_pipeline.append([curr_key])
        
    return word_list

In [4]:
data_dir_desktop = 'C:/Research Activities/Datasets/BB-MAS_Dataset/Tablet_data/Tablet_nonconventional_100_latest/'
User = []
sample = []
WPM_list = [] 

delimiter_keys = ['SPACE', '.', ',', 'RETURN']

user_files_desktop = os.listdir(data_dir_desktop)

for i in tqdm(range(len(user_files_desktop))):
        user_file_desktop = user_files_desktop[i]
        curr_user_ind_desktop = int(user_file_desktop[user_file_desktop.find('_')+1:user_file_desktop.find('@')])
        curr_user_sample = int(user_file_desktop[user_file_desktop.rfind('_')+1:user_file_desktop.find('.')])
        data_frame_desktop = pd.read_csv(data_dir_desktop+user_file_desktop, header=0)
        data_frame_desktop.iloc[:,2] =  pd.to_datetime(data_frame_desktop.iloc[:,2])
        data_frame_desktop.iloc[:,3] =  pd.to_datetime(data_frame_desktop.iloc[:,3])
        
        word_list = get_word_count(data_frame_desktop.values)
        no_of_words = len(word_list)+1
        total_time = math.ceil((data_frame_desktop.iloc[-1,3] - data_frame_desktop.iloc[0,2]).total_seconds())
        
        WPM = (no_of_words/total_time)*60
        
        User.append(curr_user_ind_desktop)
        sample.append(curr_user_sample)
        WPM_list.append(WPM)
        
final_df_wpm = pd.DataFrame(list(zip(User, sample, WPM_list)),
               columns =['User','sample','WPM'])

  0%|          | 0/5113 [00:00<?, ?it/s]

In [6]:
final_df_wpm

      User  sample        WPM
0      100       1  51.111111
1      100      10  46.000000
2      100      11  44.000000
3      100      12  45.517241
4      100      13  30.967742
...    ...     ...        ...
5108     9       5  29.333333
5109     9       6  28.571429
5110     9       7  29.302326
5111     9       8  33.000000
5112     9       9  25.116279

[5113 rows x 3 columns]

In [5]:
data_dir_tablet = 'C:/Research Activities/Datasets/BB-MAS_Dataset/Tablet_data/Tablet_FT_100_latest/'
User = []
sample = []
neg_UD_list = []
neg_UU_list = []
user_files_tablet = os.listdir(data_dir_tablet)
for i in tqdm(range(len(user_files_tablet))):
        user_file_tablet = user_files_tablet[i]
        curr_user_ind_tablet = int(user_file_tablet[user_file_tablet.find('_')+1:user_file_tablet.find('@')])
        curr_user_sample = int(user_file_tablet[user_file_tablet.rfind('_')+1:user_file_tablet.find('.')])
        data_frame_tablet_pre = pd.read_csv(data_dir_tablet+user_file_tablet, header=0)
        data_frame_tablet_pre2 = data_frame_tablet_pre[(data_frame_tablet_pre['F1']>(-5000))]
        data_frame_tablet = data_frame_tablet_pre2[(data_frame_tablet_pre2['F2']>(-5000))]
        number_of_negative_UD = sum(data_frame_tablet['F1']<0)
        total_pairs = len(data_frame_tablet)
        number_of_negative_UU = sum(data_frame_tablet['F2']<0)
        neg_UD = (number_of_negative_UD/total_pairs)*100
        neg_UU = (number_of_negative_UU/total_pairs)*100
        
        User.append(curr_user_ind_tablet)
        sample.append(curr_user_sample)
        neg_UD_list.append(neg_UD)
        neg_UU_list.append(neg_UU)
        
final_df_neg_di = pd.DataFrame(list(zip(User,sample, neg_UD_list, neg_UU_list)),
               columns =['User','sample', 'neg_UD_%', 'neg_UU_%'])

  0%|          | 0/5113 [00:00<?, ?it/s]

In [6]:
final_df_neg_di

      User  sample  neg_UD_%  neg_UU_%
0      100       1  0.000000       0.0
1      100      10  3.030303       0.0
2      100      11  5.050505       0.0
3      100      12  1.010101       0.0
4      100      13  1.010101       0.0
...    ...     ...       ...       ...
5108     9       5  0.000000       0.0
5109     9       6  1.010101       0.0
5110     9       7  1.010101       0.0
5111     9       8  0.000000       0.0
5112     9       9  2.020202       0.0

[5113 rows x 4 columns]

In [7]:
data_dir_tablet = 'C:/Research Activities/Datasets/BB-MAS_Dataset/Tablet_data/Tablet_FT_100_latest/'
User = []
sample =[]
mean_hold_time_list = []
mean_F1_dis_0_LL_list =[]
mean_F1_dis_0_RR_list =[]
mean_F1_dis_1_LL_list =[]
mean_F1_dis_1_RR_list =[]
mean_F1_dis_2_LL_list =[]
mean_F1_dis_2_RR_list =[]
mean_F1_dis_3_LL_list =[]
mean_F1_dis_3_RR_list =[]
mean_F2_dis_0_LL_list =[]
mean_F2_dis_0_RR_list =[]
mean_F2_dis_1_LL_list =[]
mean_F2_dis_1_RR_list =[]
mean_F2_dis_2_LL_list =[]
mean_F2_dis_2_RR_list =[]
mean_F2_dis_3_LL_list =[]
mean_F2_dis_3_RR_list =[]
mean_F3_dis_0_LL_list =[]
mean_F3_dis_0_RR_list =[]
mean_F3_dis_1_LL_list =[]
mean_F3_dis_1_RR_list =[]
mean_F3_dis_2_LL_list =[]
mean_F3_dis_2_RR_list =[]
mean_F3_dis_3_LL_list =[]
mean_F3_dis_3_RR_list =[]
mean_F4_dis_0_LL_list =[]
mean_F4_dis_0_RR_list =[]
mean_F4_dis_1_LL_list =[]
mean_F4_dis_1_RR_list =[]
mean_F4_dis_2_LL_list =[]
mean_F4_dis_2_RR_list =[]
mean_F4_dis_3_LL_list =[]
mean_F4_dis_3_RR_list =[]


user_files_tablet = os.listdir(data_dir_tablet)
for i in tqdm(range(len(user_files_tablet))):
        user_file_tablet = user_files_tablet[i]
        curr_user_ind_tablet = int(user_file_tablet[user_file_tablet.find('_')+1:user_file_tablet.find('@')])
        curr_user_sample = int(user_file_tablet[user_file_tablet.rfind('_')+1:user_file_tablet.find('.')])
        data_frame_tablet_bf1 = pd.read_csv(data_dir_tablet+user_file_tablet, header=0)
        data_frame_tablet_bf2 = data_frame_tablet_bf1[(data_frame_tablet_bf1['F1']>(-5000)) & 
                                                   (data_frame_tablet_bf1['F2']>(-5000))]
        data_frame_tablet_bf3 = data_frame_tablet_bf2[(data_frame_tablet_bf2['Holdtime1']<(5000)) & 
                                                    (data_frame_tablet_bf2['Holdtime2']<(5000)) &
                                                    (data_frame_tablet_bf2['F1']<(5000)) &
                                                    (data_frame_tablet_bf2['F2']<(5000)) &
                                                    (data_frame_tablet_bf2['F3']<(5000)) &
                                                    (data_frame_tablet_bf2['F4']<(5000))]
        data_frame_desktop_0_LL = data_frame_tablet_bf3[(data_frame_tablet_bf3['Distance']==0) & 
                                                         (data_frame_tablet_bf3['Hands']=='LL')]
        data_frame_desktop_0_RR = data_frame_tablet_bf3[(data_frame_tablet_bf3['Distance']==0) & 
                                                         (data_frame_tablet_bf3['Hands']=='RR')]
        data_frame_desktop_1_LL = data_frame_tablet_bf3[(data_frame_tablet_bf3['Distance']==1) & 
                                                         (data_frame_tablet_bf3['Hands']=='LL')]
        data_frame_desktop_1_RR = data_frame_tablet_bf3[(data_frame_tablet_bf3['Distance']==1) & 
                                                         (data_frame_tablet_bf3['Hands']=='RR')]
        data_frame_desktop_2_LL = data_frame_tablet_bf3[(data_frame_tablet_bf3['Distance']==2) & 
                                                         (data_frame_tablet_bf3['Hands']=='LL')]
        data_frame_desktop_2_RR = data_frame_tablet_bf3[(data_frame_tablet_bf3['Distance']==2) & 
                                                         (data_frame_tablet_bf3['Hands']=='RR')]
        data_frame_desktop_3_LL = data_frame_tablet_bf3[(data_frame_tablet_bf3['Distance']==3) & 
                                                         (data_frame_tablet_bf3['Hands']=='LL')]
        data_frame_desktop_3_RR = data_frame_tablet_bf3[(data_frame_tablet_bf3['Distance']==3) & 
                                                         (data_frame_tablet_bf3['Hands']=='RR')]
        
        mean_hold_time = data_frame_tablet_bf3['Holdtime1'].mean()
        
        mean_F1_dis_0_LL = data_frame_desktop_0_LL['F1'].mean()
        mean_F2_dis_0_LL = data_frame_desktop_0_LL['F2'].mean()
        mean_F3_dis_0_LL = data_frame_desktop_0_LL['F3'].mean()
        mean_F4_dis_0_LL = data_frame_desktop_0_LL['F4'].mean()
        mean_F1_dis_0_RR = data_frame_desktop_0_RR['F1'].mean()
        mean_F2_dis_0_RR = data_frame_desktop_0_RR['F2'].mean()
        mean_F3_dis_0_RR = data_frame_desktop_0_RR['F3'].mean()
        mean_F4_dis_0_RR = data_frame_desktop_0_RR['F4'].mean()
        
        mean_F1_dis_1_LL = data_frame_desktop_1_LL['F1'].mean()
        mean_F2_dis_1_LL = data_frame_desktop_1_LL['F2'].mean()
        mean_F3_dis_1_LL = data_frame_desktop_1_LL['F3'].mean()
        mean_F4_dis_1_LL = data_frame_desktop_1_LL['F4'].mean()
        mean_F1_dis_1_RR = data_frame_desktop_1_RR['F1'].mean()
        mean_F2_dis_1_RR = data_frame_desktop_1_RR['F2'].mean()
        mean_F3_dis_1_RR = data_frame_desktop_1_RR['F3'].mean()
        mean_F4_dis_1_RR = data_frame_desktop_1_RR['F4'].mean()
        
        mean_F1_dis_2_LL = data_frame_desktop_2_LL['F1'].mean()
        mean_F2_dis_2_LL = data_frame_desktop_2_LL['F2'].mean()
        mean_F3_dis_2_LL = data_frame_desktop_2_LL['F3'].mean()
        mean_F4_dis_2_LL = data_frame_desktop_2_LL['F4'].mean()
        mean_F1_dis_2_RR = data_frame_desktop_2_RR['F1'].mean()
        mean_F2_dis_2_RR = data_frame_desktop_2_RR['F2'].mean()
        mean_F3_dis_2_RR = data_frame_desktop_2_RR['F3'].mean()
        mean_F4_dis_2_RR = data_frame_desktop_2_RR['F4'].mean()
        
        mean_F1_dis_3_LL = data_frame_desktop_3_LL['F1'].mean()
        mean_F2_dis_3_LL = data_frame_desktop_3_LL['F2'].mean()
        mean_F3_dis_3_LL = data_frame_desktop_3_LL['F3'].mean()
        mean_F4_dis_3_LL = data_frame_desktop_3_LL['F4'].mean()
        mean_F1_dis_3_RR = data_frame_desktop_3_RR['F1'].mean()
        mean_F2_dis_3_RR = data_frame_desktop_3_RR['F2'].mean()
        mean_F3_dis_3_RR = data_frame_desktop_3_RR['F3'].mean()
        mean_F4_dis_3_RR = data_frame_desktop_3_RR['F4'].mean()
#       
        
        User.append(curr_user_ind_tablet) 
        sample.append(curr_user_sample)
        mean_hold_time_list.append(mean_hold_time)
        mean_F1_dis_0_LL_list.append(mean_F1_dis_0_LL)
        mean_F1_dis_0_RR_list.append(mean_F1_dis_0_RR)
        mean_F1_dis_1_LL_list.append(mean_F1_dis_1_LL)
        mean_F1_dis_1_RR_list.append(mean_F1_dis_1_RR)
        mean_F1_dis_2_LL_list.append(mean_F1_dis_2_LL)
        mean_F1_dis_2_RR_list.append(mean_F1_dis_2_RR)
        mean_F1_dis_3_LL_list.append(mean_F1_dis_3_LL)
        mean_F1_dis_3_RR_list.append(mean_F1_dis_3_RR)
        mean_F2_dis_0_LL_list.append(mean_F2_dis_0_LL)
        mean_F2_dis_0_RR_list.append(mean_F2_dis_0_RR)
        mean_F2_dis_1_LL_list.append(mean_F2_dis_1_LL)
        mean_F2_dis_1_RR_list.append(mean_F2_dis_1_RR)
        mean_F2_dis_2_LL_list.append(mean_F2_dis_2_LL)
        mean_F2_dis_2_RR_list.append(mean_F2_dis_2_RR)
        mean_F2_dis_3_LL_list.append(mean_F2_dis_3_LL)
        mean_F2_dis_3_RR_list.append(mean_F2_dis_3_RR)
        mean_F3_dis_0_LL_list.append(mean_F3_dis_0_LL)
        mean_F3_dis_0_RR_list.append(mean_F3_dis_0_RR)
        mean_F3_dis_1_LL_list.append(mean_F3_dis_1_LL)
        mean_F3_dis_1_RR_list.append(mean_F3_dis_1_RR)
        mean_F3_dis_2_LL_list.append(mean_F3_dis_2_LL)
        mean_F3_dis_2_RR_list.append(mean_F3_dis_2_RR)
        mean_F3_dis_3_LL_list.append(mean_F3_dis_3_LL)
        mean_F3_dis_3_RR_list.append(mean_F3_dis_3_RR)
        mean_F4_dis_0_LL_list.append(mean_F4_dis_0_LL)
        mean_F4_dis_0_RR_list.append(mean_F4_dis_0_RR)
        mean_F4_dis_1_LL_list.append(mean_F4_dis_1_LL)
        mean_F4_dis_1_RR_list.append(mean_F4_dis_1_RR)
        mean_F4_dis_2_LL_list.append(mean_F4_dis_2_LL)
        mean_F4_dis_2_RR_list.append(mean_F4_dis_2_RR)
        mean_F4_dis_3_LL_list.append(mean_F4_dis_3_LL)
        mean_F4_dis_3_RR_list.append(mean_F4_dis_3_RR)

final_df_mean = pd.DataFrame(list(zip(User,sample, mean_hold_time_list,mean_F1_dis_0_LL_list, mean_F1_dis_0_RR_list, 
                                    mean_F1_dis_1_LL_list,mean_F1_dis_1_RR_list,mean_F1_dis_2_LL_list,mean_F1_dis_2_RR_list,
                                    mean_F1_dis_3_LL_list,mean_F1_dis_3_RR_list,mean_F2_dis_0_LL_list,mean_F2_dis_0_RR_list,
                                    mean_F2_dis_1_LL_list,mean_F2_dis_1_RR_list,mean_F2_dis_2_LL_list,mean_F2_dis_2_RR_list,
                                    mean_F2_dis_3_LL_list,mean_F2_dis_3_RR_list,mean_F3_dis_0_LL_list,mean_F3_dis_0_RR_list,
                                    mean_F3_dis_1_LL_list,mean_F3_dis_1_RR_list,mean_F3_dis_2_LL_list,mean_F3_dis_2_RR_list,
                                    mean_F3_dis_3_LL_list,mean_F3_dis_3_RR_list,mean_F4_dis_0_LL_list,mean_F4_dis_0_RR_list,
                                    mean_F4_dis_1_LL_list,mean_F4_dis_1_RR_list,mean_F4_dis_2_LL_list,
                                    mean_F4_dis_2_RR_list,mean_F4_dis_3_LL_list,mean_F4_dis_3_RR_list)),
                             
               columns =['User','sample','mean_hold_time','mean_F1_dis_0_LL','mean_F1_dis_0_RR','mean_F1_dis_1_LL',
                         'mean_F1_dis_1_RR','mean_F1_dis_2_LL','mean_F1_dis_2_RR','mean_F1_dis_3_LL','mean_F1_dis_3_RR',
                        'mean_F2_dis_0_LL','mean_F2_dis_0_RR','mean_F2_dis_1_LL','mean_F2_dis_1_RR','mean_F2_dis_2_LL',
                        'mean_F2_dis_2_RR','mean_F2_dis_3_LL','mean_F2_dis_3_RR','mean_F3_dis_0_LL','mean_F3_dis_0_RR',
                         'mean_F3_dis_1_LL','mean_F3_dis_1_RR','mean_F3_dis_2_LL','mean_F3_dis_2_RR','mean_F3_dis_3_LL',
                         'mean_F3_dis_3_RR','mean_F4_dis_0_LL','mean_F4_dis_0_RR','mean_F4_dis_1_LL','mean_F4_dis_1_RR',
                        'mean_F4_dis_2_LL','mean_F4_dis_2_RR','mean_F4_dis_3_LL','mean_F4_dis_3_RR']
                            )

  0%|          | 0/5113 [00:00<?, ?it/s]

In [8]:
data_dir_desktop = 'C:/Research Activities/Datasets/BB-MAS_Dataset/Tablet_data/Tablet_FT_100_latest/'
User = []
sample =[]
mean_F1_list =[]
mean_F2_list =[]
mean_F3_list =[]
mean_F4_list =[]

user_files_desktop = os.listdir(data_dir_desktop)
for i in tqdm(range(len(user_files_desktop))):
        user_file_desktop = user_files_desktop[i]
        curr_user_ind_desktop = int(user_file_desktop[user_file_desktop.find('_')+1:user_file_desktop.find('@')])
        curr_user_sample = int(user_file_desktop[user_file_desktop.rfind('_')+1:user_file_desktop.find('.')])
        data_frame_desktop_bf1 = pd.read_csv(data_dir_desktop+user_file_desktop, header=0)
        data_frame_desktop_bf2 = data_frame_desktop_bf1[(data_frame_desktop_bf1['F1']>(-5000)) & 
                                                   (data_frame_desktop_bf1['F2']>(-5000))]
        data_frame_desktop_bf3 = data_frame_desktop_bf2[(data_frame_desktop_bf2['Holdtime1']<(5000)) & 
                                                    (data_frame_desktop_bf2['Holdtime2']<(5000)) &
                                                    (data_frame_desktop_bf2['F1']<(5000)) &
                                                    (data_frame_desktop_bf2['F2']<(5000)) &
                                                    (data_frame_desktop_bf2['F3']<(5000)) &
                                                    (data_frame_desktop_bf2['F4']<(5000))]
        mean_F1 = data_frame_desktop_bf3['F1'].mean()
        mean_F2 = data_frame_desktop_bf3['F2'].mean()
        mean_F3 = data_frame_desktop_bf3['F3'].mean()
        mean_F4 = data_frame_desktop_bf3['F4'].mean()
        
        User.append(curr_user_ind_desktop) 
        sample.append(curr_user_sample)
        mean_F1_list.append(mean_F1)
        mean_F2_list.append(mean_F2)
        mean_F3_list.append(mean_F3)
        mean_F4_list.append(mean_F4)
        
final_df_mean_flight = pd.DataFrame(list(zip(User,sample, mean_F1_list, mean_F2_list, mean_F3_list,mean_F4_list)),
                               columns =['User','sample', 'mean_F1', 'mean_F2','mean_F3','mean_F4'])

  0%|          | 0/5113 [00:00<?, ?it/s]

In [11]:
# data_dir_desktop = 'C:/Research Activities/Datasets/BB-MAS_Dataset/Tablet_data/Tablet_FT_100_latest/'
# User = []
# sample =[]
# mean_ht_list = []
# mean_F1_list =[]
# mean_F2_list =[]
# mean_F3_list =[]
# mean_F4_list =[]

# user_files_desktop = os.listdir(data_dir_desktop)
# for i in tqdm(range(len(user_files_desktop))):
#         user_file_desktop = user_files_desktop[i]
#         curr_user_ind_desktop = int(user_file_desktop[user_file_desktop.find('_')+1:user_file_desktop.find('@')])
#         curr_user_sample = int(user_file_desktop[user_file_desktop.rfind('_')+1:user_file_desktop.find('.')])
#         data_frame_desktop_bf1 = pd.read_csv(data_dir_desktop+user_file_desktop, header=0)
#         data_frame_desktop_bf2 = data_frame_desktop_bf1[(data_frame_desktop_bf1['F1']>(-5000)) & 
#                                                    (data_frame_desktop_bf1['F2']>(-5000))]
#         data_frame_desktop_bf3 = data_frame_desktop_bf2[(data_frame_desktop_bf2['Holdtime1']<(5000)) & 
#                                                     (data_frame_desktop_bf2['Holdtime2']<(5000)) &
#                                                     (data_frame_desktop_bf2['F1']<(5000)) &
#                                                     (data_frame_desktop_bf2['F2']<(5000)) &
#                                                     (data_frame_desktop_bf2['F3']<(5000)) &
#                                                     (data_frame_desktop_bf2['F4']<(5000))]
#         mean_ht = data_frame_desktop_bf3['Holdtime1'].mean()
#         mean_F1 = data_frame_desktop_bf3['F1'].mean()
#         mean_F2 = data_frame_desktop_bf3['F2'].mean()
#         mean_F3 = data_frame_desktop_bf3['F3'].mean()
#         mean_F4 = data_frame_desktop_bf3['F4'].mean()
        
#         User.append(curr_user_ind_desktop) 
#         sample.append(curr_user_sample)
#         mean_ht_list.append(mean_ht)
#         mean_F1_list.append(mean_F1)
#         mean_F2_list.append(mean_F2)
#         mean_F3_list.append(mean_F3)
#         mean_F4_list.append(mean_F4)
        
# final_df_mean_flight_with_ht = pd.DataFrame(list(zip(User,sample,mean_ht_list, mean_F1_list, mean_F2_list, mean_F3_list,mean_F4_list)),
#                                columns =['User','sample','mean_hold_time', 'mean_F1', 'mean_F2','mean_F3','mean_F4'])

  0%|          | 0/5113 [00:00<?, ?it/s]

In [9]:
data_dir_tablet = 'C:/Research Activities/Datasets/BB-MAS_Dataset/Tablet_data/Tablet_FT_100_latest/'
User = []
sample = []
mean_F1_se_list =[]
mean_F2_se_list =[]
mean_F3_se_list =[]
mean_F4_se_list =[]

user_files_tablet = os.listdir(data_dir_tablet)
for i in tqdm(range(len(user_files_tablet))):
        user_file_tablet = user_files_tablet[i]
        curr_user_ind_tablet = int(user_file_tablet[user_file_tablet.find('_')+1:user_file_tablet.find('@')])
        curr_user_sample = int(user_file_tablet[user_file_tablet.rfind('_')+1:user_file_tablet.find('.')])
        data_frame_tablet_bf1 = pd.read_csv(data_dir_tablet+user_file_tablet, header=0)
        data_frame_tablet_bf2 = data_frame_tablet_bf1[(data_frame_tablet_bf1['F1']>(-5000)) & 
                                                   (data_frame_tablet_bf1['F2']>(-5000))]
        data_frame_tablet_bf3 = data_frame_tablet_bf2[(data_frame_tablet_bf2['Holdtime1']<(5000)) & 
                                                    (data_frame_tablet_bf2['Holdtime2']<(5000)) &
                                                    (data_frame_tablet_bf2['F1']<(5000)) &
                                                    (data_frame_tablet_bf2['F2']<(5000)) &
                                                    (data_frame_tablet_bf2['F3']<(5000)) &
                                                    (data_frame_tablet_bf2['F4']<(5000))]
        data_frame_tablet = data_frame_tablet_bf3[data_frame_tablet_bf3['Keys']=='s,e']
        
        mean_F1_se = data_frame_tablet['F1'].mean()
        mean_F2_se = data_frame_tablet['F2'].mean()
        mean_F3_se = data_frame_tablet['F3'].mean()
        mean_F4_se = data_frame_tablet['F4'].mean()
        
        User.append(curr_user_ind_tablet)
        sample.append(curr_user_sample)
        mean_F1_se_list.append(mean_F1_se)
        mean_F2_se_list.append(mean_F2_se)
        mean_F3_se_list.append(mean_F3_se)
        mean_F4_se_list.append(mean_F4_se)
        

final_df_mean_se = pd.DataFrame(list(zip(User,sample,mean_F1_se_list,mean_F2_se_list,mean_F3_se_list,mean_F4_se_list )),
               columns =['User','sample','mean_F1_se','mean_F2_se','mean_F3_se','mean_F4_se',])

  0%|          | 0/5113 [00:00<?, ?it/s]

In [10]:
data_dir_tablet = 'C:/Research Activities/Datasets/BB-MAS_Dataset/Tablet_data/Tablet_FT_100_latest/'
User = []
sample = []
mean_F1_ty_list =[]
mean_F2_ty_list =[]
mean_F3_ty_list =[]
mean_F4_ty_list =[]

user_files_tablet = os.listdir(data_dir_tablet)
for i in tqdm(range(len(user_files_tablet))):
        user_file_tablet = user_files_tablet[i]
        curr_user_ind_tablet = int(user_file_tablet[user_file_tablet.find('_')+1:user_file_tablet.find('@')])
        curr_user_sample = int(user_file_tablet[user_file_tablet.rfind('_')+1:user_file_tablet.find('.')])
        data_frame_tablet_bf1 = pd.read_csv(data_dir_tablet+user_file_tablet, header=0)
        data_frame_tablet_bf2 = data_frame_tablet_bf1[(data_frame_tablet_bf1['F1']>(-5000)) & 
                                                   (data_frame_tablet_bf1['F2']>(-5000))]
        data_frame_tablet_bf3 = data_frame_tablet_bf2[(data_frame_tablet_bf2['Holdtime1']<(5000)) & 
                                                    (data_frame_tablet_bf2['Holdtime2']<(5000)) &
                                                    (data_frame_tablet_bf2['F1']<(5000)) &
                                                    (data_frame_tablet_bf2['F2']<(5000)) &
                                                    (data_frame_tablet_bf2['F3']<(5000)) &
                                                    (data_frame_tablet_bf2['F4']<(5000))]
        data_frame_tablet = data_frame_tablet_bf3[data_frame_tablet_bf3['Keys']=='t,y']
        
        mean_F1_ty = data_frame_tablet['F1'].mean()
        mean_F2_ty = data_frame_tablet['F2'].mean()
        mean_F3_ty = data_frame_tablet['F3'].mean()
        mean_F4_ty = data_frame_tablet['F4'].mean()
        
        User.append(curr_user_ind_tablet) 
        sample.append(curr_user_sample)
        mean_F1_ty_list.append(mean_F1_ty)
        mean_F2_ty_list.append(mean_F2_ty)
        mean_F3_ty_list.append(mean_F3_ty)
        mean_F4_ty_list.append(mean_F4_ty)
        

final_df_mean_ty = pd.DataFrame(list(zip(User,sample,mean_F1_ty_list,mean_F2_ty_list,mean_F3_ty_list,mean_F4_ty_list )),
               columns =['User','sample','mean_F1_ty','mean_F2_ty','mean_F3_ty','mean_F4_ty',])

  0%|          | 0/5113 [00:00<?, ?it/s]

In [11]:
data_dir_tablet = 'C:/Research Activities/Datasets/BB-MAS_Dataset/Tablet_data/Tablet_FT_100_latest/'
User = []
sample = []
mean_F1_ol_list =[]
mean_F2_ol_list =[]
mean_F3_ol_list =[]
mean_F4_ol_list =[]

user_files_tablet = os.listdir(data_dir_tablet)
for i in tqdm(range(len(user_files_tablet))):
        user_file_tablet = user_files_tablet[i]
        curr_user_ind_tablet = int(user_file_tablet[user_file_tablet.find('_')+1:user_file_tablet.find('@')])
        curr_user_sample = int(user_file_tablet[user_file_tablet.rfind('_')+1:user_file_tablet.find('.')])
        data_frame_tablet_bf1 = pd.read_csv(data_dir_tablet+user_file_tablet, header=0)
        data_frame_tablet_bf2 = data_frame_tablet_bf1[(data_frame_tablet_bf1['F1']>(-5000)) & 
                                                   (data_frame_tablet_bf1['F2']>(-5000))]
        data_frame_tablet_bf3 = data_frame_tablet_bf2[(data_frame_tablet_bf2['Holdtime1']<(5000)) & 
                                                    (data_frame_tablet_bf2['Holdtime2']<(5000)) &
                                                    (data_frame_tablet_bf2['F1']<(5000)) &
                                                    (data_frame_tablet_bf2['F2']<(5000)) &
                                                    (data_frame_tablet_bf2['F3']<(5000)) &
                                                    (data_frame_tablet_bf2['F4']<(5000))]
        data_frame_tablet = data_frame_tablet_bf3[data_frame_tablet_bf3['Keys']=='o,l']
        
        mean_F1_ol = data_frame_tablet['F1'].mean()
        mean_F2_ol = data_frame_tablet['F2'].mean()
        mean_F3_ol = data_frame_tablet['F3'].mean()
        mean_F4_ol = data_frame_tablet['F4'].mean()
        
        User.append(curr_user_ind_tablet)  
        sample.append(curr_user_sample)
        mean_F1_ol_list.append(mean_F1_ol)
        mean_F2_ol_list.append(mean_F2_ol)
        mean_F3_ol_list.append(mean_F3_ol)
        mean_F4_ol_list.append(mean_F4_ol)
        

final_df_mean_ol = pd.DataFrame(list(zip(User,sample,mean_F1_ol_list,mean_F2_ol_list,mean_F3_ol_list,mean_F4_ol_list )),
               columns =['User','sample','mean_F1_ol','mean_F2_ol','mean_F3_ol','mean_F4_ol',])

  0%|          | 0/5113 [00:00<?, ?it/s]

In [12]:
data_dir_tablet = 'C:/Research Activities/Datasets/BB-MAS_Dataset/Tablet_data/Tablet_FT_100_latest/'
User = []
sample = []
mean_F1_th_list =[]
mean_F2_th_list =[]
mean_F3_th_list =[]
mean_F4_th_list =[]

user_files_tablet = os.listdir(data_dir_tablet)
for i in tqdm(range(len(user_files_tablet))):
        user_file_tablet = user_files_tablet[i]
        curr_user_ind_tablet = int(user_file_tablet[user_file_tablet.find('_')+1:user_file_tablet.find('@')])
        curr_user_sample = int(user_file_tablet[user_file_tablet.rfind('_')+1:user_file_tablet.find('.')])
        data_frame_tablet_bf1 = pd.read_csv(data_dir_tablet+user_file_tablet, header=0)
        data_frame_tablet_bf2 = data_frame_tablet_bf1[(data_frame_tablet_bf1['F1']>(-5000)) & 
                                                   (data_frame_tablet_bf1['F2']>(-5000))]
        data_frame_tablet_bf3 = data_frame_tablet_bf2[(data_frame_tablet_bf2['Holdtime1']<(5000)) & 
                                                    (data_frame_tablet_bf2['Holdtime2']<(5000)) &
                                                    (data_frame_tablet_bf2['F1']<(5000)) &
                                                    (data_frame_tablet_bf2['F2']<(5000)) &
                                                    (data_frame_tablet_bf2['F3']<(5000)) &
                                                    (data_frame_tablet_bf2['F4']<(5000))]
        data_frame_tablet = data_frame_tablet_bf3[data_frame_tablet_bf3['Keys']=='t,h']
        
        mean_F1_th = data_frame_tablet['F1'].mean()
        mean_F2_th = data_frame_tablet['F2'].mean()
        mean_F3_th = data_frame_tablet['F3'].mean()
        mean_F4_th = data_frame_tablet['F4'].mean()
        
        User.append(curr_user_ind_tablet)
        sample.append(curr_user_sample)
        mean_F1_th_list.append(mean_F1_th)
        mean_F2_th_list.append(mean_F2_th)
        mean_F3_th_list.append(mean_F3_th)
        mean_F4_th_list.append(mean_F4_th)
        

final_df_mean_th = pd.DataFrame(list(zip(User,sample,mean_F1_th_list,mean_F2_th_list,mean_F3_th_list,mean_F4_th_list )),
               columns =['User','sample','mean_F1_th','mean_F2_th','mean_F3_th','mean_F4_th',])

  0%|          | 0/5113 [00:00<?, ?it/s]

In [13]:
data_dir_tablet = 'C:/Research Activities/Datasets/BB-MAS_Dataset/Tablet_data/Tablet_FT_100_latest/'
User = []
sample = []
mean_F1_et_list =[]
mean_F2_et_list =[]
mean_F3_et_list =[]
mean_F4_et_list =[]

user_files_tablet = os.listdir(data_dir_tablet)
for i in tqdm(range(len(user_files_tablet))):
        user_file_tablet = user_files_tablet[i]
        curr_user_ind_tablet = int(user_file_tablet[user_file_tablet.find('_')+1:user_file_tablet.find('@')])
        curr_user_sample = int(user_file_tablet[user_file_tablet.rfind('_')+1:user_file_tablet.find('.')])
        data_frame_tablet_bf1 = pd.read_csv(data_dir_tablet+user_file_tablet, header=0)
        data_frame_tablet_bf2 = data_frame_tablet_bf1[(data_frame_tablet_bf1['F1']>(-5000)) & 
                                                   (data_frame_tablet_bf1['F2']>(-5000))]
        data_frame_tablet_bf3 = data_frame_tablet_bf2[(data_frame_tablet_bf2['Holdtime1']<(5000)) & 
                                                    (data_frame_tablet_bf2['Holdtime2']<(5000)) &
                                                    (data_frame_tablet_bf2['F1']<(5000)) &
                                                    (data_frame_tablet_bf2['F2']<(5000)) &
                                                    (data_frame_tablet_bf2['F3']<(5000)) &
                                                    (data_frame_tablet_bf2['F4']<(5000))]
        data_frame_tablet = data_frame_tablet_bf3[data_frame_tablet_bf3['Keys']=='e,t']
        
        mean_F1_et = data_frame_tablet['F1'].mean()
        mean_F2_et = data_frame_tablet['F2'].mean()
        mean_F3_et = data_frame_tablet['F3'].mean()
        mean_F4_et = data_frame_tablet['F4'].mean()
        
        User.append(curr_user_ind_tablet) 
        sample.append(curr_user_sample)
        mean_F1_et_list.append(mean_F1_et)
        mean_F2_et_list.append(mean_F2_et)
        mean_F3_et_list.append(mean_F3_et)
        mean_F4_et_list.append(mean_F4_et)
        

final_df_mean_et = pd.DataFrame(list(zip(User,sample,mean_F1_et_list,mean_F2_et_list,mean_F3_et_list,mean_F4_et_list )),
               columns =['User','sample','mean_F1_et','mean_F2_et','mean_F3_et','mean_F4_et',])

  0%|          | 0/5113 [00:00<?, ?it/s]

In [14]:
data_dir_tablet = 'C:/Research Activities/Datasets/BB-MAS_Dataset/Tablet_data/Tablet_FT_100_latest/'
User = []
sample = []
mean_F1_un_list =[]
mean_F2_un_list =[]
mean_F3_un_list =[]
mean_F4_un_list =[]

user_files_tablet = os.listdir(data_dir_tablet)
for i in tqdm(range(len(user_files_tablet))):
        user_file_tablet = user_files_tablet[i]
        curr_user_ind_tablet = int(user_file_tablet[user_file_tablet.find('_')+1:user_file_tablet.find('@')])
        curr_user_sample = int(user_file_tablet[user_file_tablet.rfind('_')+1:user_file_tablet.find('.')])
        data_frame_tablet_bf1 = pd.read_csv(data_dir_tablet+user_file_tablet, header=0)
        data_frame_tablet_bf2 = data_frame_tablet_bf1[(data_frame_tablet_bf1['F1']>(-5000)) & 
                                                   (data_frame_tablet_bf1['F2']>(-5000))]
        data_frame_tablet_bf3 = data_frame_tablet_bf2[(data_frame_tablet_bf2['Holdtime1']<(5000)) & 
                                                    (data_frame_tablet_bf2['Holdtime2']<(5000)) &
                                                    (data_frame_tablet_bf2['F1']<(5000)) &
                                                    (data_frame_tablet_bf2['F2']<(5000)) &
                                                    (data_frame_tablet_bf2['F3']<(5000)) &
                                                    (data_frame_tablet_bf2['F4']<(5000))]
        data_frame_tablet = data_frame_tablet_bf3[data_frame_tablet_bf3['Keys']=='u,n']
        
        mean_F1_un = data_frame_tablet['F1'].mean()
        mean_F2_un = data_frame_tablet['F2'].mean()
        mean_F3_un = data_frame_tablet['F3'].mean()
        mean_F4_un = data_frame_tablet['F4'].mean()
        
        User.append(curr_user_ind_tablet)  
        sample.append(curr_user_sample)
        mean_F1_un_list.append(mean_F1_un)
        mean_F2_un_list.append(mean_F2_un)
        mean_F3_un_list.append(mean_F3_un)
        mean_F4_un_list.append(mean_F4_un)
        

final_df_mean_un = pd.DataFrame(list(zip(User,sample,mean_F1_un_list,mean_F2_un_list,mean_F3_un_list,mean_F4_un_list )),
               columns =['User','sample','mean_F1_un','mean_F2_un','mean_F3_un','mean_F4_un',])

  0%|          | 0/5113 [00:00<?, ?it/s]

In [15]:
data_dir_tablet = 'C:/Research Activities/Datasets/BB-MAS_Dataset/Tablet_data/Tablet_FT_100_latest/'
User = []
sample = []
mean_F1_mp_list =[]
mean_F2_mp_list =[]
mean_F3_mp_list =[]
mean_F4_mp_list =[]

user_files_tablet = os.listdir(data_dir_tablet)
for i in tqdm(range(len(user_files_tablet))):
        user_file_tablet = user_files_tablet[i]
        curr_user_ind_tablet = int(user_file_tablet[user_file_tablet.find('_')+1:user_file_tablet.find('@')])
        curr_user_sample = int(user_file_tablet[user_file_tablet.rfind('_')+1:user_file_tablet.find('.')])
        data_frame_tablet_bf1 = pd.read_csv(data_dir_tablet+user_file_tablet, header=0)
        data_frame_tablet_bf2 = data_frame_tablet_bf1[(data_frame_tablet_bf1['F1']>(-5000)) & 
                                                   (data_frame_tablet_bf1['F2']>(-5000))]
        data_frame_tablet_bf3 = data_frame_tablet_bf2[(data_frame_tablet_bf2['Holdtime1']<(5000)) & 
                                                    (data_frame_tablet_bf2['Holdtime2']<(5000)) &
                                                    (data_frame_tablet_bf2['F1']<(5000)) &
                                                    (data_frame_tablet_bf2['F2']<(5000)) &
                                                    (data_frame_tablet_bf2['F3']<(5000)) &
                                                    (data_frame_tablet_bf2['F4']<(5000))]
        data_frame_tablet = data_frame_tablet_bf3[data_frame_tablet_bf3['Keys']=='m,p']
        
        mean_F1_mp = data_frame_tablet['F1'].mean()
        mean_F2_mp = data_frame_tablet['F2'].mean()
        mean_F3_mp = data_frame_tablet['F3'].mean()
        mean_F4_mp = data_frame_tablet['F4'].mean()
        
        User.append(curr_user_ind_tablet)  
        sample.append(curr_user_sample)
        mean_F1_mp_list.append(mean_F1_mp)
        mean_F2_mp_list.append(mean_F2_mp)
        mean_F3_mp_list.append(mean_F3_mp)
        mean_F4_mp_list.append(mean_F4_mp)
        

final_df_mean_mp = pd.DataFrame(list(zip(User,sample,mean_F1_mp_list,mean_F2_mp_list,mean_F3_mp_list,mean_F4_mp_list )),
               columns =['User','sample','mean_F1_mp','mean_F2_mp','mean_F3_mp','mean_F4_mp',])

  0%|          | 0/5113 [00:00<?, ?it/s]

In [16]:
data_dir_tablet = 'C:/Research Activities/Datasets/BB-MAS_Dataset/Tablet_data/Tablet_FT_100_latest/'
User = []
sample = []
mean_F1_he_list =[]
mean_F2_he_list =[]
mean_F3_he_list =[]
mean_F4_he_list =[]

user_files_tablet = os.listdir(data_dir_tablet)
for i in tqdm(range(len(user_files_tablet))):
        user_file_tablet = user_files_tablet[i]
        curr_user_ind_tablet = int(user_file_tablet[user_file_tablet.find('_')+1:user_file_tablet.find('@')])
        curr_user_sample = int(user_file_tablet[user_file_tablet.rfind('_')+1:user_file_tablet.find('.')])
        data_frame_tablet_bf1 = pd.read_csv(data_dir_tablet+user_file_tablet, header=0)
        data_frame_tablet_bf2 = data_frame_tablet_bf1[(data_frame_tablet_bf1['F1']>(-5000)) & 
                                                   (data_frame_tablet_bf1['F2']>(-5000))]
        data_frame_tablet_bf3 = data_frame_tablet_bf2[(data_frame_tablet_bf2['Holdtime1']<(5000)) & 
                                                    (data_frame_tablet_bf2['Holdtime2']<(5000)) &
                                                    (data_frame_tablet_bf2['F1']<(5000)) &
                                                    (data_frame_tablet_bf2['F2']<(5000)) &
                                                    (data_frame_tablet_bf2['F3']<(5000)) &
                                                    (data_frame_tablet_bf2['F4']<(5000))]
        data_frame_tablet = data_frame_tablet_bf3[data_frame_tablet_bf3['Keys']=='h,e']
        
        mean_F1_he = data_frame_tablet['F1'].mean()
        mean_F2_he = data_frame_tablet['F2'].mean()
        mean_F3_he = data_frame_tablet['F3'].mean()
        mean_F4_he = data_frame_tablet['F4'].mean()
        
        User.append(curr_user_ind_tablet)  
        sample.append(curr_user_sample)
        mean_F1_he_list.append(mean_F1_he)
        mean_F2_he_list.append(mean_F2_he)
        mean_F3_he_list.append(mean_F3_he)
        mean_F4_he_list.append(mean_F4_he)
        

final_df_mean_he = pd.DataFrame(list(zip(User,sample,mean_F1_he_list,mean_F2_he_list,mean_F3_he_list,mean_F4_he_list )),
               columns =['User','sample','mean_F1_he','mean_F2_he','mean_F3_he','mean_F4_he',])

  0%|          | 0/5113 [00:00<?, ?it/s]

In [17]:
data_dir_tablet = 'C:/Research Activities/Datasets/BB-MAS_Dataset/Tablet_data/Tablet_FT_100_latest/'
User = []
sample = []
mean_F1_ap_list =[]
mean_F2_ap_list =[]
mean_F3_ap_list =[]
mean_F4_ap_list =[]

user_files_tablet = os.listdir(data_dir_tablet)
for i in tqdm(range(len(user_files_tablet))):
        user_file_tablet = user_files_tablet[i]
        curr_user_ind_tablet = int(user_file_tablet[user_file_tablet.find('_')+1:user_file_tablet.find('@')])
        curr_user_sample = int(user_file_tablet[user_file_tablet.rfind('_')+1:user_file_tablet.find('.')])
        data_frame_tablet_bf1 = pd.read_csv(data_dir_tablet+user_file_tablet, header=0)
        data_frame_tablet_bf2 = data_frame_tablet_bf1[(data_frame_tablet_bf1['F1']>(-5000)) & 
                                                   (data_frame_tablet_bf1['F2']>(-5000))]
        data_frame_tablet_bf3 = data_frame_tablet_bf2[(data_frame_tablet_bf2['Holdtime1']<(5000)) & 
                                                    (data_frame_tablet_bf2['Holdtime2']<(5000)) &
                                                    (data_frame_tablet_bf2['F1']<(5000)) &
                                                    (data_frame_tablet_bf2['F2']<(5000)) &
                                                    (data_frame_tablet_bf2['F3']<(5000)) &
                                                    (data_frame_tablet_bf2['F4']<(5000))]
        data_frame_tablet = data_frame_tablet_bf3[data_frame_tablet_bf3['Keys']=='a,p']
        
        mean_F1_ap = data_frame_tablet['F1'].mean()
        mean_F2_ap = data_frame_tablet['F2'].mean()
        mean_F3_ap = data_frame_tablet['F3'].mean()
        mean_F4_ap = data_frame_tablet['F4'].mean()
        
        User.append(curr_user_ind_tablet) 
        sample.append(curr_user_sample)
        mean_F1_ap_list.append(mean_F1_ap)
        mean_F2_ap_list.append(mean_F2_ap)
        mean_F3_ap_list.append(mean_F3_ap)
        mean_F4_ap_list.append(mean_F4_ap)
        

final_df_mean_ap = pd.DataFrame(list(zip(User,sample,mean_F1_ap_list,mean_F2_ap_list,mean_F3_ap_list,mean_F4_ap_list )),
               columns =['User','sample','mean_F1_ap','mean_F2_ap','mean_F3_ap','mean_F4_ap',])

  0%|          | 0/5113 [00:00<?, ?it/s]

In [18]:
data_dir_tablet = 'C:/Research Activities/Datasets/BB-MAS_Dataset/Tablet_data/Tablet_FT_100_latest/'
User = []
sample = []
mean_F1_is_list =[]
mean_F2_is_list =[]
mean_F3_is_list =[]
mean_F4_is_list =[]

user_files_tablet = os.listdir(data_dir_tablet)
for i in tqdm(range(len(user_files_tablet))):
        user_file_tablet = user_files_tablet[i]
        curr_user_ind_tablet = int(user_file_tablet[user_file_tablet.find('_')+1:user_file_tablet.find('@')])
        curr_user_sample = int(user_file_tablet[user_file_tablet.rfind('_')+1:user_file_tablet.find('.')])
        data_frame_tablet_bf1 = pd.read_csv(data_dir_tablet+user_file_tablet, header=0)
        data_frame_tablet_bf2 = data_frame_tablet_bf1[(data_frame_tablet_bf1['F1']>(-5000)) & 
                                                   (data_frame_tablet_bf1['F2']>(-5000))]
        data_frame_tablet_bf3 = data_frame_tablet_bf2[(data_frame_tablet_bf2['Holdtime1']<(5000)) & 
                                                    (data_frame_tablet_bf2['Holdtime2']<(5000)) &
                                                    (data_frame_tablet_bf2['F1']<(5000)) &
                                                    (data_frame_tablet_bf2['F2']<(5000)) &
                                                    (data_frame_tablet_bf2['F3']<(5000)) &
                                                    (data_frame_tablet_bf2['F4']<(5000))]
        data_frame_tablet = data_frame_tablet_bf3[data_frame_tablet_bf3['Keys']=='i,s']
        
        mean_F1_is = data_frame_tablet['F1'].mean()
        mean_F2_is = data_frame_tablet['F2'].mean()
        mean_F3_is = data_frame_tablet['F3'].mean()
        mean_F4_is = data_frame_tablet['F4'].mean()
        
        User.append(curr_user_ind_tablet) 
        sample.append(curr_user_sample)
        mean_F1_is_list.append(mean_F1_is)
        mean_F2_is_list.append(mean_F2_is)
        mean_F3_is_list.append(mean_F3_is)
        mean_F4_is_list.append(mean_F4_is)
        

final_df_mean_is = pd.DataFrame(list(zip(User,sample,mean_F1_is_list,mean_F2_is_list,mean_F3_is_list,mean_F4_is_list )),
               columns =['User','sample','mean_F1_is','mean_F2_is','mean_F3_is','mean_F4_is',])

  0%|          | 0/5113 [00:00<?, ?it/s]

In [19]:
data_dir_tablet = 'C:/Research Activities/Datasets/BB-MAS_Dataset/Tablet_data/Tablet_FT_100_latest/'
User = []
sample = []
mean_F1_co_list =[]
mean_F2_co_list =[]
mean_F3_co_list =[]
mean_F4_co_list =[]

user_files_tablet = os.listdir(data_dir_tablet)
for i in tqdm(range(len(user_files_tablet))):
        user_file_tablet = user_files_tablet[i]
        curr_user_ind_tablet = int(user_file_tablet[user_file_tablet.find('_')+1:user_file_tablet.find('@')])
        curr_user_sample = int(user_file_tablet[user_file_tablet.rfind('_')+1:user_file_tablet.find('.')])
        data_frame_tablet_bf1 = pd.read_csv(data_dir_tablet+user_file_tablet, header=0)
        data_frame_tablet_bf2 = data_frame_tablet_bf1[(data_frame_tablet_bf1['F1']>(-5000)) & 
                                                   (data_frame_tablet_bf1['F2']>(-5000))]
        data_frame_tablet_bf3 = data_frame_tablet_bf2[(data_frame_tablet_bf2['Holdtime1']<(5000)) & 
                                                    (data_frame_tablet_bf2['Holdtime2']<(5000)) &
                                                    (data_frame_tablet_bf2['F1']<(5000)) &
                                                    (data_frame_tablet_bf2['F2']<(5000)) &
                                                    (data_frame_tablet_bf2['F3']<(5000)) &
                                                    (data_frame_tablet_bf2['F4']<(5000))]
        data_frame_tablet = data_frame_tablet_bf3[data_frame_tablet_bf3['Keys']=='c,o']
        
        mean_F1_co = data_frame_tablet['F1'].mean()
        mean_F2_co = data_frame_tablet['F2'].mean()
        mean_F3_co = data_frame_tablet['F3'].mean()
        mean_F4_co = data_frame_tablet['F4'].mean()
        
        User.append(curr_user_ind_tablet) 
        sample.append(curr_user_sample)
        mean_F1_co_list.append(mean_F1_co)
        mean_F2_co_list.append(mean_F2_co)
        mean_F3_co_list.append(mean_F3_co)
        mean_F4_co_list.append(mean_F4_co)
        

final_df_mean_co = pd.DataFrame(list(zip(User,sample,mean_F1_co_list,mean_F2_co_list,mean_F3_co_list,mean_F4_co_list )),
               columns =['User','sample','mean_F1_co','mean_F2_co','mean_F3_co','mean_F4_co',])

  0%|          | 0/5113 [00:00<?, ?it/s]

In [20]:
data_dir_tablet = 'C:/Research Activities/Datasets/BB-MAS_Dataset/Tablet_data/Tablet_FT_100_latest/'
User = []
sample = []
mean_F1_le_list =[]
mean_F2_le_list =[]
mean_F3_le_list =[]
mean_F4_le_list =[]

user_files_tablet = os.listdir(data_dir_tablet)
for i in tqdm(range(len(user_files_tablet))):
        user_file_tablet = user_files_tablet[i]
        curr_user_ind_tablet = int(user_file_tablet[user_file_tablet.find('_')+1:user_file_tablet.find('@')])
        curr_user_sample = int(user_file_tablet[user_file_tablet.rfind('_')+1:user_file_tablet.find('.')])
        data_frame_tablet_bf1 = pd.read_csv(data_dir_tablet+user_file_tablet, header=0)
        data_frame_tablet_bf2 = data_frame_tablet_bf1[(data_frame_tablet_bf1['F1']>(-5000)) & 
                                                   (data_frame_tablet_bf1['F2']>(-5000))]
        data_frame_tablet_bf3 = data_frame_tablet_bf2[(data_frame_tablet_bf2['Holdtime1']<(5000)) & 
                                                    (data_frame_tablet_bf2['Holdtime2']<(5000)) &
                                                    (data_frame_tablet_bf2['F1']<(5000)) &
                                                    (data_frame_tablet_bf2['F2']<(5000)) &
                                                    (data_frame_tablet_bf2['F3']<(5000)) &
                                                    (data_frame_tablet_bf2['F4']<(5000))]
        data_frame_tablet = data_frame_tablet_bf3[data_frame_tablet_bf3['Keys']=='l,e']
        
        mean_F1_le = data_frame_tablet['F1'].mean()
        mean_F2_le = data_frame_tablet['F2'].mean()
        mean_F3_le = data_frame_tablet['F3'].mean()
        mean_F4_le = data_frame_tablet['F4'].mean()
        
        User.append(curr_user_ind_tablet)  
        sample.append(curr_user_sample)
        mean_F1_le_list.append(mean_F1_le)
        mean_F2_le_list.append(mean_F2_le)
        mean_F3_le_list.append(mean_F3_le)
        mean_F4_le_list.append(mean_F4_le)
        

final_df_mean_le = pd.DataFrame(list(zip(User,sample,mean_F1_le_list,mean_F2_le_list,mean_F3_le_list,mean_F4_le_list )),
               columns =['User','sample','mean_F1_le','mean_F2_le','mean_F3_le','mean_F4_le',])

  0%|          | 0/5113 [00:00<?, ?it/s]

In [30]:
data_dir_tablet = 'C:/Research Activities/Datasets/BB-MAS_Dataset/Tablet_data/Tablet_nonconventional_100_latest/'

User = []
sample = []
RSA_ratio_list = []

user_files_tablet = os.listdir(data_dir_tablet)
for i in tqdm(range(len(user_files_tablet))):
        user_file_tablet = user_files_tablet[i]
        curr_user_ind_tablet = int(user_file_tablet[user_file_tablet.find('_')+1:user_file_tablet.find('@')])
        curr_user_sample = int(user_file_tablet[user_file_tablet.rfind('_')+1:user_file_tablet.find('.')])
        data_frame_tablet = pd.read_csv(data_dir_tablet+user_file_tablet, header=0)
        data_frame_tablet.iloc[:,2] =  pd.to_datetime(data_frame_tablet.iloc[:,2])
        data_frame_tablet.iloc[:,3] =  pd.to_datetime(data_frame_tablet.iloc[:,3])
        
        Total_shifts=0
        
        for row_id in range(len(data_frame_tablet)-1):
            if (data_frame_tablet.iloc[row_id,1]=='OTHER'):
                Total_shifts += 1
                
        RSA_ratio = Total_shifts
            
        User.append(curr_user_ind_tablet) 
        sample.append(curr_user_sample)
        RSA_ratio_list.append(RSA_ratio)
        
        
final_df_other = pd.DataFrame(list(zip(User,sample,RSA_ratio_list)),
               columns =['User','sample','Other'])

  0%|          | 0/5113 [00:00<?, ?it/s]

In [27]:
final_df_shift_ratio

      User  sample  RSA_ratio
0      100       1          0
1      100      10          0
2      100      11          0
3      100      12          0
4      100      13          0
...    ...     ...        ...
5108     9       5          0
5109     9       6          0
5110     9       7          2
5111     9       8          0
5112     9       9          0

[5113 rows x 3 columns]

In [22]:
final_df_shift_ratio.mean()

User         59.376376
sample       23.102987
RSA_ratio     0.000000
LSA_ratio     0.000000
dtype: float64

In [23]:
data_dir_tablet = 'C:/Research Activities/Datasets/BB-MAS_Dataset/Tablet_data/Tablet_trigraphs_100_latest/'

User = []
sample = []
mean_trigraph_list = []

user_files_tablet = os.listdir(data_dir_tablet)
for i in tqdm(range(len(user_files_tablet))):
        user_file_tablet = user_files_tablet[i]
        curr_user_ind_tablet = int(user_file_tablet[user_file_tablet.find('_')+1:user_file_tablet.find('@')])
        curr_user_sample = int(user_file_tablet[user_file_tablet.rfind('_')+1:user_file_tablet.find('.')])
        data_frame_tablet = pd.read_csv(data_dir_tablet+user_file_tablet, header=0)
        data_preprocess_1 = data_frame_tablet[(data_frame_tablet['Tri_graph_time']>(-5000))]
        data_preprocess_2 = data_preprocess_1[(data_preprocess_1['Tri_graph_time']<(8000))]
        mean_tri_graph = data_preprocess_2['Tri_graph_time'].mean()
        
        User.append(curr_user_ind_tablet)
        sample.append(curr_user_sample)
        mean_trigraph_list.append(mean_tri_graph)
        
final_df_trigraph = pd.DataFrame(list(zip(User,sample, mean_trigraph_list)),
               columns =['User','sample', 'Tri_graph'])

  0%|          | 0/5113 [00:00<?, ?it/s]

In [30]:
final_df_trigraph.mean()

User          59.400548
sample        23.222179
Tri_graph    761.296919
dtype: float64

In [29]:
final_df_trigraph.mean()

User          59.400548
sample        23.222179
Tri_graph    760.828072
dtype: float64

In [31]:
all_dataframes= [final_df,final_df_wpm, final_df_neg_di, final_df_other, 
                 final_df_mean_flight,final_df_trigraph,final_df_mean,
                 final_df_mean_se, final_df_mean_ty, 
                 final_df_mean_ol, final_df_mean_th, final_df_mean_et, final_df_mean_un, final_df_mean_mp, final_df_mean_he,
                final_df_mean_ap, final_df_mean_is, final_df_mean_co, final_df_mean_le
                ]

In [32]:
all_merged = reduce(lambda  left,right: pd.merge(left,right,on=['User', 'sample'], how='inner'), all_dataframes)

In [33]:
all_merged = all_merged.fillna(0)

In [66]:
all_merged

,User,sample,Tri_graph,Error_rate_%,WPM,neg_UD_%,neg_UU_%,other,mean_hold_time,mean_F1_dis_0_LL,...,mean_F3_is,mean_F4_is,mean_F1_co,mean_F2_co,mean_F3_co,mean_F4_co,mean_F1_le,mean_F2_le,mean_F3_le,mean_F4_le
0,100,1,535.612245,0.0,51.111111,2.272727,0.0,0,92.393939,143.0,...,152.666667,282.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,100,10,590.908163,3.0,46.000000,3.030303,0.0,0,96.151515,143.0,...,157.333333,254.333333,0.0,0.0,0.0,0.0,71.0,177.0,135.0,241.0
2,100,11,590.551020,2.0,44.000000,5.050505,0.0,0,100.676768,143.0,...,171.333333,273.666667,0.0,0.0,0.0,0.0,-9.0,111.0,57.0,177.0
3,100,12,581.040816,5.0,45.517241,1.010101,0.0,0,104.949495,143.0,...,165.333333,276.666667,0.0,0.0,0.0,0.0,103.0,271.0,193.0,361.0
4,100,13,623.091837,13.0,30.967742,1.010101,0.0,0,94.797980,0.0,...,166.333333,263.666667,0.0,0.0,0.0,0.0,95.0,200.0,160.0,265.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5108,9,5,905.010204,4.0,29.333333,1.199495,0.0,0,90.000000,0.0,...,172.333333,229.333333,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5109,9,6,846.622449,8.0,28.571429,1.010101,0.0,0,99.818182,49.0,...,121.000000,227.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5110,9,7,848.408163,2.0,29.302326,1.010101,0.0,2,95.717172,104.0,...,197.500000,278.500000,0.0,0.0,0.0,0.0,32.0,108.0,143.0,219.0
5111,9,8,804.867347,7.0,33.000000,1.199495,0.0,0,94.404040,96.0,...,149.666667,253.000000,0.0,0.0,0.0,0.0,127.0,201.0,201.0,275.0
5112,9,9,850.040816,17.0,25.116279,2.020202,0.0,0,99.153061,0.0,...,174.333333,266.666667,0.0,0.0,0.0,0.0,39.0,129.0,120.0,210.0

In [40]:
for column_name in all_merged.columns:
    column = all_merged[column_name]
    # Get the count of Zeros in column 
    count = (column == 0).sum()
    print(column_name, ' is : ', count)

User  is :  0
sample  is :  0
mean_hold_time  is :  0
mean_F1  is :  0
mean_F2  is :  0
mean_F3  is :  0
mean_F4  is :  0
Tri_graph  is :  0